@tailwind base;

@tailwind components;

.ease {
  transition: all 0.1s ease-out;
}

.task-list-item {
  @apply py-2 flex justify-between items-start;
}

.task-list-container {
  @apply flex items-start;
}

.task-list-p-container {
  @apply flex flex-col;
}

.task-list-created-on {
  @apply mt-1 px-2 block text-gray-500 text-xs;
}

.task-list-p {
  @apply px-2 font-medium text-gray-900 text-lg block w-full;
}

.task-list-btn {
  @apply -mt-2 font-black text-red-500 px-4 py-2 rounded ease;
}

.task-list-btn:hover {
  @apply bg-gray-200 ease;
}

.task-list-important-btn {
  @apply text-gray-300 outline-none ease;
}

.task-list-important-btn:hover {
  @apply text-gray-500 ease;
}

.task-list-important-btn:focus {
  @apply outline-none ease;
}

.task-list-edit-btn {
  @apply mr-2 text-gray-300 outline-none ease;
}

.task-list-edit-btn:hover {
  @apply text-gray-500 ease;
}

.task-list-edit-btn:focus {
  @apply outline-none ease;
}

.important-on {
  @apply text-gray-900 ease !important;
}

[contenteditable="true"],
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
  @apply bg-gray-200 rounded ease;
}

@tailwind utilities;
